#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

.PHONY: get-orig-source
get-orig-source:
	mkdir $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM)
	wget http://www.opensans.com/download/open-sans.zip http://www.opensans.com/download/open-sans-condensed.zip
	unzip -o open-sans.zip -d $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM)
	unzip -o open-sans-condensed.zip -d $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM) -x "Apache License.txt"
	tar -Jcf ../$(DEB_SOURCE)_$(DEB_VERSION_UPSTREAM).orig.tar.xz $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM)
	rm -rf $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM) open-sans.zip open-sans-condensed.zip
